---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `

Haiiiiii




Ah...




Yeah.




I honestly just use this for file sharing most of the time.



:P



Click on Password Paranoia up there at the top for my CTC project site.






Scroll down for a cat :3


`;
---

<Layout title="yk, the place.">
    <h1 class="mb-10">A home page ig</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p style="margin-top:4000px;">

⠀⢀⠤⠒⠈⠉⠀⠀⠀⠀⠀⠀⠀⠈⠉⠁⠆⠤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡔⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠑⢕⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⢔⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠱⢦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠙⢲⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠱⣂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠑⠉⢶⣀⠤⢄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣡⣧⣤⡤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠴⠦⢶⣤⣠⢤⣄⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠈⠀⠘⠫⢔⢤⠀⢀⣀⣠⣤⠶⠶⠚⠛⠉⠉⠉⠉⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠉⠛⠻⠿⢦⣦⡤⣀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⠴⠛⠛⠫⡉⠀⠀⠀⠀⠀⠀⠀⠀⠀⡰⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⠀⠀⠀⠉⠛⠮⣖⢄⡀⠀⠀
⠀⠀⠀⠀⠀⢀⠄⠚⠉⠀⠀⠀⠀⠀⠐⠄⠀⠀⠀⠀⠀⠀⠀⠀⡇⣿⠀⠀⢠⡒⠂⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠔⠁⠀⡆⠀⠀⠀⠀⠀⠈⠛⠁⢄⠀
⠀⠀⠀⠀⠀⢸⠆⠀⠦⢄⡀⠀⠀⠀⠀⠸⡀⠀⠀⠀⠀⠀⣀⠞⢹⣿⠀⠀⠀⢃⠀⠀⠑⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠔⠁⠀⣀⠜⠀⠀⠀⠀⠀⠀⣀⣠⠜⣎⢢
⠀⠀⠀⠀⠀⢸⠂⠀⠀⠀⠈⠙⠓⠒⠤⠤⣷⠦⢤⠖⠶⠚⣁⠔⠃⣿⢀⣀⣀⡀⠑⠤⣠⡼⣦⠤⠠⠀⠀⠀⠀⠀⠀⠀⠀⠤⠠⣴⣟⡦⠔⠊⠀⠒⠒⠒⠐⠚⠉⠉⠁⠀⠀⢻⠘
⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⡆⢈⠉⡉⢉⠁⡐⠠⣿⠀⠀⠀⠈⠉⠁⠈⢳⣌⢷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣻⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠀⠀⠀⢸⡀
⠀⠀⠀⠀⠀⢸⡀⠀⠀⢰⡟⠀⠀⠀⠀⠀⢸⡇⢀⠂⡐⢀⠂⠄⣁⡿⠀⠀⠀⠀⠀⠀⠀⠀⠹⣞⣧⠀⠀⠀⠀⠀⠀⠀⠀⣰⢷⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⢸⡄
⠀⠀⠀⠀⠀⢸⡇⠀⠀⢸⠀⠀⠀⠀⠀⠀⢸⡇⢀⠂⡐⠠⢈⠐⣸⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⡽⣇⠀⠀⠀⠀⠀⠀⢀⣿⣸⠃⠀⠀⠀⠀⢀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠈⡇
⠀⠀⠀⠀⠀⠘⡇⠀⠀⢀⡃⠀⠀⠀⠀⠀⣸⠃⠄⠂⠄⡁⢂⢐⡿⠀⠀⠀⣴⠶⢶⣄⡀⠀⠀⠀⢷⣹⡆⠀⠀⠀⠀⠀⢼⣧⡏⠀⠀⢀⣴⠶⠛⣉⢻⡄⠀⠀⠀⠀⠀⠀⠀⠠⡇
⠀⠀⠀⠀⠀⠨⡗⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⠠⢈⠐⡈⠐⡀⣾⠃⠀⠀⢸⡇⡀⢂⠈⡙⢦⣀⠀⠸⣇⣿⠀⠀⠀⠀⠀⢸⢼⡇⠀⣴⠟⢀⠐⠠⢿⡀⢿⡀⠀⠀⠀⠀⠀⠀⢘⡇
⠀⠀⠀⠀⠀⢠⣿⠀⠀⠀⡆⠀⠀⠀⠀⢸⠇⡀⢂⠐⠠⠁⢴⡏⠀⠀⠀⣿⠀⡐⢀⠂⡐⠠⠙⢷⣄⣿⢼⣧⣄⣀⠀⠀⢸⣞⣇⣼⠃⡀⠂⠌⡐⢸⡇⠘⣧⠀⠀⠀⠀⠀⠀⠈⡇
⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⡇⠀⠀⠀⢀⡿⢀⠐⠠⠈⠄⣡⡟⠀⠀⠀⠀⣿⠀⠌⡀⠒⠠⠁⠌⡀⠙⢻⣆⡠⢀⠉⠛⠲⢾⡜⡿⠁⡐⠠⢁⠂⠄⣹⣇⠌⢹⡄⠀⠀⡆⠀⠀⠀⡇
⠀⠀⠀⠀⠀⠐⢻⠀⠀⠀⡇⠀⠀⠀⢸⡇⠠⠈⠄⡁⢢⡟⠀⠀⠀⠀⠀⣿⠀⠂⠄⡁⢂⠁⣢⣤⠷⠟⠛⠃⠄⡈⠤⢁⠺⣇⢀⠂⠄⡁⠂⠌⡐⠟⣽⠆⠹⣇⠀⠀⡇⠀⠀⠀⡇
⠀⠀⠀⠀⠀⠀⣾⡄⠀⠀⢧⠀⠀⠀⡿⢀⠡⢈⠐⢠⡟⠀⠀⠀⠀⠀⠀⢸⡇⡁⢂⠐⠠⠈⠄⡀⠂⠌⠠⢁⠂⡐⢀⠂⠄⡉⠂⠌⡐⠠⢁⠂⡐⠠⠟⠠⢁⣿⠀⠀⡇⠀⠀⠀⡇
⠀⠀⠀⠀⠀⠀⢻⡇⠀⠀⢸⡀⠀⢰⡇⠄⠂⠄⢌⡾⠁⠀⠀⠀⠀⠀⣠⡾⠿⢀⠂⠌⠠⢁⠂⠄⠡⢈⠐⡀⢂⠐⠠⢈⠐⠠⢁⠂⠄⡁⢂⠐⠠⠁⠌⡐⠠⣿⠶⠷⠛⠚⠛⣹⡇
⠀⠀⠀⠀⠀⠀⢘⡇⠀⠀⠀⡇⠀⣼⠁⠌⡐⠈⡿⠀⠀⠀⣰⣤⣄⣀⣿⡀⡐⠠⢈⠌⠂⠤⠈⢴⣧⡄⢂⠐⠄⢊⠐⠠⢈⣶⠇⡈⠐⠠⢂⠁⠆⡁⠂⠄⠡⢀⠂⡐⠈⢄⣵⠋⡇
⠀⠀⠀⠀⠀⠀⢸⣷⠀⠀⠀⢧⠀⣿⠀⠆⠠⣽⡇⠀⠀⠀⠸⣦⡈⠙⠛⠿⢀⡡⠦⢎⣈⢤⠁⢂⠉⠅⠂⠌⡐⠠⠈⠄⠡⢁⠂⠄⠩⠐⡤⢻⠤⡴⠁⠌⡐⢀⠂⢄⣵⠟⠁⠀⡇
⠀⠀⠀⠀⠀⠀⠸⣿⠀⠀⠀⢻⢸⡟⠠⠘⢰⣿⠀⠀⣀⡴⠗⠛⠻⣶⣁⠂⠄⡁⢆⠙⡀⠂⢼⡃⠈⠄⡁⠂⣄⠡⠈⠄⡁⠂⠌⣰⡇⠡⠐⡈⠃⢤⣬⡐⢀⠂⠌⡙⣧⡀⠀⠀⡇
⠀⠀⠀⠀⠀⠀⠀⢻⠀⠀⠀⢸⣼⣷⣄⡁⢚⡇⣠⡴⠋⠠⠈⠄⠡⢈⣿⠃⡐⢀⠂⡐⠠⢁⠊⠻⣮⣔⣤⡷⠛⠳⠧⠶⠤⠷⠞⠋⠄⡁⠂⠄⢡⣿⠈⠻⣦⡈⠐⠠⢈⢳⣄⠀⡇
⠀⠀⠀⠀⠀⠀⠀⣾⠆⠀⠀⠈⢹⡇⡈⠻⣦⡿⠋⠀⠌⠠⠁⠌⣐⣾⠁⡐⢀⠂⡐⠠⢁⠂⠌⡐⠠⠈⠄⡐⢈⠐⠠⢈⠐⠠⠌⡐⠠⠄⠡⢈⣼⠃⠌⡐⢈⠻⢦⣥⣂⡄⠹⣦⡇
⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠈⣷⡠⢁⠂⠄⠡⠈⠄⠡⢈⠐⣾⣁⣐⣠⣦⢶⠶⠷⠄⠌⡐⠠⠁⠌⡐⢀⠂⠌⡐⠠⠌⡐⠤⡤⠷⠾⠶⠼⠇⡈⠐⡀⠂⠌⡀⢂⠉⡝⠛⢻⡇
⠀⠀⠀⠀⠀⠀⠀⢼⡇⠀⠀⢀⡴⠾⠓⠠⠈⠄⠡⠈⠄⡁⢂⠐⡈⣹⠟⠡⢀⠂⡐⠠⢈⠐⠠⠁⡌⠐⡀⠂⠌⡐⠠⢁⢂⠐⠠⠐⡀⢂⠐⡀⠂⠄⠡⢀⡁⢂⠐⡀⡚⠀⠀⠰⡇
⠀⠀⠀⠀⠀⠀⠀⢸⣧⠀⠀⠀⢷⡠⢁⠂⠡⠈⠄⡁⢂⠐⡀⢂⢾⣧⣌⣐⣀⣂⣄⡁⠂⠌⠠⠁⠄⠡⢀⡁⠂⠄⡁⠂⠄⡈⠄⠡⠐⡀⠂⠄⠡⢈⠐⠠⠐⡀⣦⣸⣧⠀⠀⢘⡇
⠀⠀⠀⠀⠀⠀⠀⠸⣿⡄⠀⠀⠈⣷⠠⠈⠄⡁⢂⠐⡀⢂⠐⡀⠂⠄⠠⢉⠉⡉⢉⣿⡐⠈⠄⢡⠈⡐⠠⢀⢁⠂⠄⡁⢂⠐⡈⠄⠡⢀⠡⢈⠐⠠⠈⠄⠡⣰⠏⠙⢻⡄⠀⢨⠇
⠀⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⢿⡠⢁⠂⡐⢀⠂⡐⢀⠂⠄⠡⢈⠐⡀⢂⠐⠠⠘⣷⣈⣴⠀⠂⡄⡁⠂⠄⠨⡐⢀⠂⢶⣔⠈⡐⢀⢲⣦⣬⣤⣥⣼⠞⠡⠈⠄⣹⠆⠀⢸⠂
⠀⠀⠀⠀⠀⠀⠀⠀⢿⣿⠀⠀⠀⢸⡆⢀⠂⡐⢀⠂⡐⠠⠈⠄⡁⢂⠐⡀⠂⠌⠠⠁⠌⠛⡁⠌⡐⠠⢀⣁⡞⠋⠉⠳⡌⠠⠙⠳⢶⣤⣼⡇⠠⢀⠄⠠⠈⠄⡁⠂⢼⡃⠀⢸⡁
⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣇⠀⠀⠘⣇⠄⢂⠐⡀⠂⠄⠡⢈⠐⡀⢂⠐⠠⠁⠌⠠⠁⠌⡐⢀⠂⣄⣁⡦⠋⠀⠀⠀⠀⢿⣀⣡⣈⠄⠠⠀⠄⡁⠂⠌⠠⢁⠂⠄⡁⢺⡅⠀⣾⡂
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⠀⠀⠀⣿⠀⢂⠐⠠⠁⠌⡐⢀⠂⡐⠠⠈⠄⠡⠈⠄⡁⢂⠐⣠⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⠈⠄⡁⠂⠄⠡⢈⠐⠠⢈⠐⡀⢿⠁⠀⣿⡁
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⢿⡄⠀⠀⢹⡇⠠⠈⠤⢁⠂⡐⢀⠂⠄⠡⠈⠄⠡⢈⠐⡀⢂⠐⡈⢧⠀⠀⠀⠀⠀⠀⠀⠀⢀⡤⠞⠁⠌⡐⠠⠁⠌⡐⠠⢈⠐⡀⢂⢰⡟⠀⠀⣿⡃
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⣷⠀⠀⢘⣷⠁⠌⡐⢀⠂⡐⠠⠈⠄⠡⠈⠄⡁⢂⠐⡀⢂⠐⠠⢸⡀⠀⠀⣀⣤⠀⠀⠀⢸⢀⠂⡁⠂⠄⡡⢈⠐⠠⢁⠂⡐⢀⣶⠋⠠⢀⣴⡷⡄
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⡆⠀⣾⡁⠌⡐⢀⠂⡐⠠⠁⠌⠠⠁⠌⡐⢀⠂⡐⢀⠂⠌⠠⢁⠉⡉⢉⠡⢀⠙⠒⠒⡉⣄⣆⠄⡁⠒⡀⠂⠌⡐⢀⣢⡴⠋⠁⠀⣢⣾⡿⠗⠁
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢝⣧⡀⠈⠙⠾⠛⠲⠶⢤⣥⣈⠄⠡⢈⠐⠠⢈⠐⡀⠂⠌⠠⢁⡂⠒⠟⠷⣦⡠⠈⠄⣡⡾⢋⢀⠂⠄⢡⣀⣡⣦⠶⠛⠉⠀⣀⣴⣟⠕⠁⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⢽⢦⣄⡀⠀⠀⠠⠄⠀⠉⠛⠛⠓⠾⠦⣤⣦⣄⣡⣈⣁⣂⣄⣑⣎⣴⣙⣷⣬⣴⣿⠷⠾⠶⠚⠛⠋⠉⠁⠀⠀⣀⣤⢾⠍⠋⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠝⣲⡦⢤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠁⠉⠉⠉⠈⠉⠈⠀⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣴⣶⠻⠟⠊⠁⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠑⠚⠉⢻⢻⣖⣲⡶⠤⠤⣤⢤⡤⣤⣀⣤⣀⣤⣀⣤⣠⣄⣤⣀⣤⡤⢶⢶⣞⣯⣭⠗⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
</p>
</Layout>
