---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `

Haiiiiii
Ah...
Yeah.
I honestly just use this site for file sharing most of the time.
Click on Password Paranoia up there at the top for my CTC project site, or, scroll down for a cat :3


`;
---

<Layout title="yk, the place.">
    <h1 class="mb-10">A home page ig</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <br>
    <p>
    I also was lazy and wrote all this in astro, so no fancy css for you :P
    </p>
    <p style="margin-top:4000px;">

⠀⢀⠤⠒⠈⠉⠀⠀⠀⠀⠀⠀⠀⠈⠉⠁⠆⠤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡔⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠑⢕⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⢔⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠱⢦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠙⢲⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠱⣂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠑⠉⢶⣀⠤⢄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣡⣧⣤⡤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠴⠦⢶⣤⣠⢤⣄⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠈⠀⠘⠫⢔⢤⠀⢀⣀⣠⣤⠶⠶⠚⠛⠉⠉⠉⠉⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠉⠛⠻⠿⢦⣦⡤⣀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⠴⠛⠛⠫⡉⠀⠀⠀⠀⠀⠀⠀⠀⠀⡰⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⠀⠀⠀⠉⠛⠮⣖⢄⡀⠀⠀
⠀⠀⠀⠀⠀⢀⠄⠚⠉⠀⠀⠀⠀⠀⠐⠄⠀⠀⠀⠀⠀⠀⠀⠀⡇⣿⠀⠀⢠⡒⠂⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠔⠁⠀⡆⠀⠀⠀⠀⠀⠈⠛⠁⢄⠀
⠀⠀⠀⠀⠀⢸⠆⠀⠦⢄⡀⠀⠀⠀⠀⠸⡀⠀⠀⠀⠀⠀⣀⠞⢹⣿⠀⠀⠀⢃⠀⠀⠑⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠔⠁⠀⣀⠜⠀⠀⠀⠀⠀⠀⣀⣠⠜⣎⢢
⠀⠀⠀⠀⠀⢸⠂⠀⠀⠀⠈⠙⠓⠒⠤⠤⣷⠦⢤⠖⠶⠚⣁⠔⠃⣿⢀⣀⣀⡀⠑⠤⣠⡼⣦⠤⠠⠀⠀⠀⠀⠀⠀⠀⠀⠤⠠⣴⣟⡦⠔⠊⠀⠒⠒⠒⠐⠚⠉⠉⠁⠀⠀⢻⠘
⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⡆⢈⠉⡉⢉⠁⡐⠠⣿⠀⠀⠀⠈⠉⠁⠈⢳⣌⢷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣻⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠀⠀⠀⢸⡀
⠀⠀⠀⠀⠀⢸⡀⠀⠀⢰⡟⠀⠀⠀⠀⠀⢸⡇⢀⠂⡐⢀⠂⠄⣁⡿⠀⠀⠀⠀⠀⠀⠀⠀⠹⣞⣧⠀⠀⠀⠀⠀⠀⠀⠀⣰⢷⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⢸⡄
⠀⠀⠀⠀⠀⢸⡇⠀⠀⢸⠀⠀⠀⠀⠀⠀⢸⡇⢀⠂⡐⠠⢈⠐⣸⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⡽⣇⠀⠀⠀⠀⠀⠀⢀⣿⣸⠃⠀⠀⠀⠀⢀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠈⡇
⠀⠀⠀⠀⠀⠘⡇⠀⠀⢀⡃⠀⠀⠀⠀⠀⣸⠃⠄⠂⠄⡁⢂⢐⡿⠀⠀⠀⣴⠶⢶⣄⡀⠀⠀⠀⢷⣹⡆⠀⠀⠀⠀⠀⢼⣧⡏⠀⠀⢀⣴⠶⠛⣉⢻⡄⠀⠀⠀⠀⠀⠀⠀⠠⡇
⠀⠀⠀⠀⠀⠨⡗⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⠠⢈⠐⡈⠐⡀⣾⠃⠀⠀⢸⡇⡀⢂⠈⡙⢦⣀⠀⠸⣇⣿⠀⠀⠀⠀⠀⢸⢼⡇⠀⣴⠟⢀⠐⠠⢿⡀⢿⡀⠀⠀⠀⠀⠀⠀⢘⡇
⠀⠀⠀⠀⠀⢠⣿⠀⠀⠀⡆⠀⠀⠀⠀⢸⠇⡀⢂⠐⠠⠁⢴⡏⠀⠀⠀⣿⠀⡐⢀⠂⡐⠠⠙⢷⣄⣿⢼⣧⣄⣀⠀⠀⢸⣞⣇⣼⠃⡀⠂⠌⡐⢸⡇⠘⣧⠀⠀⠀⠀⠀⠀⠈⡇
⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⡇⠀⠀⠀⢀⡿⢀⠐⠠⠈⠄⣡⡟⠀⠀⠀⠀⣿⠀⠌⡀⠒⠠⠁⠌⡀⠙⢻⣆⡠⢀⠉⠛⠲⢾⡜⡿⠁⡐⠠⢁⠂⠄⣹⣇⠌⢹⡄⠀⠀⡆⠀⠀⠀⡇
⠀⠀⠀⠀⠀⠐⢻⠀⠀⠀⡇⠀⠀⠀⢸⡇⠠⠈⠄⡁⢢⡟⠀⠀⠀⠀⠀⣿⠀⠂⠄⡁⢂⠁⣢⣤⠷⠟⠛⠃⠄⡈⠤⢁⠺⣇⢀⠂⠄⡁⠂⠌⡐⠟⣽⠆⠹⣇⠀⠀⡇⠀⠀⠀⡇
⠀⠀⠀⠀⠀⠀⣾⡄⠀⠀⢧⠀⠀⠀⡿⢀⠡⢈⠐⢠⡟⠀⠀⠀⠀⠀⠀⢸⡇⡁⢂⠐⠠⠈⠄⡀⠂⠌⠠⢁⠂⡐⢀⠂⠄⡉⠂⠌⡐⠠⢁⠂⡐⠠⠟⠠⢁⣿⠀⠀⡇⠀⠀⠀⡇
⠀⠀⠀⠀⠀⠀⢻⡇⠀⠀⢸⡀⠀⢰⡇⠄⠂⠄⢌⡾⠁⠀⠀⠀⠀⠀⣠⡾⠿⢀⠂⠌⠠⢁⠂⠄⠡⢈⠐⡀⢂⠐⠠⢈⠐⠠⢁⠂⠄⡁⢂⠐⠠⠁⠌⡐⠠⣿⠶⠷⠛⠚⠛⣹⡇
⠀⠀⠀⠀⠀⠀⢘⡇⠀⠀⠀⡇⠀⣼⠁⠌⡐⠈⡿⠀⠀⠀⣰⣤⣄⣀⣿⡀⡐⠠⢈⠌⠂⠤⠈⢴⣧⡄⢂⠐⠄⢊⠐⠠⢈⣶⠇⡈⠐⠠⢂⠁⠆⡁⠂⠄⠡⢀⠂⡐⠈⢄⣵⠋⡇
⠀⠀⠀⠀⠀⠀⢸⣷⠀⠀⠀⢧⠀⣿⠀⠆⠠⣽⡇⠀⠀⠀⠸⣦⡈⠙⠛⠿⢀⡡⠦⢎⣈⢤⠁⢂⠉⠅⠂⠌⡐⠠⠈⠄⠡⢁⠂⠄⠩⠐⡤⢻⠤⡴⠁⠌⡐⢀⠂⢄⣵⠟⠁⠀⡇
⠀⠀⠀⠀⠀⠀⠸⣿⠀⠀⠀⢻⢸⡟⠠⠘⢰⣿⠀⠀⣀⡴⠗⠛⠻⣶⣁⠂⠄⡁⢆⠙⡀⠂⢼⡃⠈⠄⡁⠂⣄⠡⠈⠄⡁⠂⠌⣰⡇⠡⠐⡈⠃⢤⣬⡐⢀⠂⠌⡙⣧⡀⠀⠀⡇
⠀⠀⠀⠀⠀⠀⠀⢻⠀⠀⠀⢸⣼⣷⣄⡁⢚⡇⣠⡴⠋⠠⠈⠄⠡⢈⣿⠃⡐⢀⠂⡐⠠⢁⠊⠻⣮⣔⣤⡷⠛⠳⠧⠶⠤⠷⠞⠋⠄⡁⠂⠄⢡⣿⠈⠻⣦⡈⠐⠠⢈⢳⣄⠀⡇
⠀⠀⠀⠀⠀⠀⠀⣾⠆⠀⠀⠈⢹⡇⡈⠻⣦⡿⠋⠀⠌⠠⠁⠌⣐⣾⠁⡐⢀⠂⡐⠠⢁⠂⠌⡐⠠⠈⠄⡐⢈⠐⠠⢈⠐⠠⠌⡐⠠⠄⠡⢈⣼⠃⠌⡐⢈⠻⢦⣥⣂⡄⠹⣦⡇
⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠈⣷⡠⢁⠂⠄⠡⠈⠄⠡⢈⠐⣾⣁⣐⣠⣦⢶⠶⠷⠄⠌⡐⠠⠁⠌⡐⢀⠂⠌⡐⠠⠌⡐⠤⡤⠷⠾⠶⠼⠇⡈⠐⡀⠂⠌⡀⢂⠉⡝⠛⢻⡇
⠀⠀⠀⠀⠀⠀⠀⢼⡇⠀⠀⢀⡴⠾⠓⠠⠈⠄⠡⠈⠄⡁⢂⠐⡈⣹⠟⠡⢀⠂⡐⠠⢈⠐⠠⠁⡌⠐⡀⠂⠌⡐⠠⢁⢂⠐⠠⠐⡀⢂⠐⡀⠂⠄⠡⢀⡁⢂⠐⡀⡚⠀⠀⠰⡇
⠀⠀⠀⠀⠀⠀⠀⢸⣧⠀⠀⠀⢷⡠⢁⠂⠡⠈⠄⡁⢂⠐⡀⢂⢾⣧⣌⣐⣀⣂⣄⡁⠂⠌⠠⠁⠄⠡⢀⡁⠂⠄⡁⠂⠄⡈⠄⠡⠐⡀⠂⠄⠡⢈⠐⠠⠐⡀⣦⣸⣧⠀⠀⢘⡇
⠀⠀⠀⠀⠀⠀⠀⠸⣿⡄⠀⠀⠈⣷⠠⠈⠄⡁⢂⠐⡀⢂⠐⡀⠂⠄⠠⢉⠉⡉⢉⣿⡐⠈⠄⢡⠈⡐⠠⢀⢁⠂⠄⡁⢂⠐⡈⠄⠡⢀⠡⢈⠐⠠⠈⠄⠡⣰⠏⠙⢻⡄⠀⢨⠇
⠀⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⢿⡠⢁⠂⡐⢀⠂⡐⢀⠂⠄⠡⢈⠐⡀⢂⠐⠠⠘⣷⣈⣴⠀⠂⡄⡁⠂⠄⠨⡐⢀⠂⢶⣔⠈⡐⢀⢲⣦⣬⣤⣥⣼⠞⠡⠈⠄⣹⠆⠀⢸⠂
⠀⠀⠀⠀⠀⠀⠀⠀⢿⣿⠀⠀⠀⢸⡆⢀⠂⡐⢀⠂⡐⠠⠈⠄⡁⢂⠐⡀⠂⠌⠠⠁⠌⠛⡁⠌⡐⠠⢀⣁⡞⠋⠉⠳⡌⠠⠙⠳⢶⣤⣼⡇⠠⢀⠄⠠⠈⠄⡁⠂⢼⡃⠀⢸⡁
⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣇⠀⠀⠘⣇⠄⢂⠐⡀⠂⠄⠡⢈⠐⡀⢂⠐⠠⠁⠌⠠⠁⠌⡐⢀⠂⣄⣁⡦⠋⠀⠀⠀⠀⢿⣀⣡⣈⠄⠠⠀⠄⡁⠂⠌⠠⢁⠂⠄⡁⢺⡅⠀⣾⡂
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⠀⠀⠀⣿⠀⢂⠐⠠⠁⠌⡐⢀⠂⡐⠠⠈⠄⠡⠈⠄⡁⢂⠐⣠⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⠈⠄⡁⠂⠄⠡⢈⠐⠠⢈⠐⡀⢿⠁⠀⣿⡁
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⢿⡄⠀⠀⢹⡇⠠⠈⠤⢁⠂⡐⢀⠂⠄⠡⠈⠄⠡⢈⠐⡀⢂⠐⡈⢧⠀⠀⠀⠀⠀⠀⠀⠀⢀⡤⠞⠁⠌⡐⠠⠁⠌⡐⠠⢈⠐⡀⢂⢰⡟⠀⠀⣿⡃
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⣷⠀⠀⢘⣷⠁⠌⡐⢀⠂⡐⠠⠈⠄⠡⠈⠄⡁⢂⠐⡀⢂⠐⠠⢸⡀⠀⠀⣀⣤⠀⠀⠀⢸⢀⠂⡁⠂⠄⡡⢈⠐⠠⢁⠂⡐⢀⣶⠋⠠⢀⣴⡷⡄
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⡆⠀⣾⡁⠌⡐⢀⠂⡐⠠⠁⠌⠠⠁⠌⡐⢀⠂⡐⢀⠂⠌⠠⢁⠉⡉⢉⠡⢀⠙⠒⠒⡉⣄⣆⠄⡁⠒⡀⠂⠌⡐⢀⣢⡴⠋⠁⠀⣢⣾⡿⠗⠁
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢝⣧⡀⠈⠙⠾⠛⠲⠶⢤⣥⣈⠄⠡⢈⠐⠠⢈⠐⡀⠂⠌⠠⢁⡂⠒⠟⠷⣦⡠⠈⠄⣡⡾⢋⢀⠂⠄⢡⣀⣡⣦⠶⠛⠉⠀⣀⣴⣟⠕⠁⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⢽⢦⣄⡀⠀⠀⠠⠄⠀⠉⠛⠛⠓⠾⠦⣤⣦⣄⣡⣈⣁⣂⣄⣑⣎⣴⣙⣷⣬⣴⣿⠷⠾⠶⠚⠛⠋⠉⠁⠀⠀⣀⣤⢾⠍⠋⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠝⣲⡦⢤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠁⠉⠉⠉⠈⠉⠈⠀⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣴⣶⠻⠟⠊⠁⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠑⠚⠉⢻⢻⣖⣲⡶⠤⠤⣤⢤⡤⣤⣀⣤⣀⣤⣀⣤⣠⣄⣤⣀⣤⡤⢶⢶⣞⣯⣭⠗⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
</p>
</Layout>
